<table class="repository-table">
    <thead>
        <tr>
            <th class="title">Title</th>
            <th class="name">Repository</th>
            <th class="branch">Branch</th>
            <th class="default_page">Default Page</th>
            <th class="remotes">Remotes</th>
            <th class="action"></th>
        </tr>
    </thead>
    <tbody class="repository-list">
        <tr class="repository" id="NAME">
            <td class="title">Title</td>
            <td class="name">repository</td>
            <td class="branch">refs/heads/master</td>
            <td class="default_page">home.yukki</td>
            <td class="remotes">-</td>
            <td class="action"></td>
        </tr>
    </tbody>
</table>
