<html>
    <head>
        <title class="main-title">Yukki</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script class="local-script" src="/script/yukki.js"></script>
        <link rel="stylesheet" type="text/css" href="/style/yukki.css"/>
    </head>
    <body>
        <h1 class="main-title">Yukki</h1>
        <div id="navigation" class="navigation">Navigation Bar</div>
        <div id="messages">No messages.</div>
        <div id="content">Content</div>
        <div id="bottom-navigation" class="navigation">Navigation Bar</div>
    </body>
</html>
