<html>
    <head>
        <title class="main-title">Yukki</title>
        <script id="main-script">window.yukki_base_url = "http://localhost:5000/";</script>
        <link class="local" rel="stylesheet" type="text/css" href="/style/deck.css"/> 
        <script class="local" src="/script/deck.start.js"></script>
    </head>
    <body class="view deck.js">
        <div id="content">
            Slides go in here...
        </div>
        <script class="local" src="/script/deck.start.js"></script>
    </body>
</html>
