<html>
    <head>
        <title class="main-title">Yukki</title>
        <script class="local" src="/script/yukki.js"></script>
        <link class="local" rel="stylesheet" type="text/css" href="/style/yukki.css"/>
    </head>
    <body>
        <div id="topnav">
            <div id="nav-repository" class="navigation-menu">
                <ul>
                    <li class="navigation"><a href="/go/somewhere">Repository</a></li>
                </ul>
            </div>
            <div id="nav-user" class="navigation-menu">
                <ul>
                    <li class="navigation"><a href="/go/somewhere">Sign in</a></li>
                </ul>
            </div>
        </div>
        <div id="masthead">
            <h1 class="masthead-title">Yukki</h1>
            <div id="nav-page" class="navigation-menu">
                <ul>
                    <li class="navigation"><a href="/go/somewhere">View</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <ul id="breadcrumb"> <li><a href="/go/somewhere">Bread</a> » </li></ul>
            <div id="messages">No messages.</div>
            <div id="content">Content</div>
            <div style="clear:both"></div>
        </div>
        <div id="footer">
            <div id="copyright">Powered by Yukki. Yukki software is Copyright © 2017
                Qubling Software LLC. This is free software; you can
                redistribute it and/or modify it under the same terms as the
                Perl 5 programming language.
            </div>
            <div id="nav-page_bottom" class="navigation-menu">
                <ul>
                    <li class="navigation"><a href="/go/somewhere">View</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
