<html>
    <head>
        <title class="main-title">Yukki</title>
        <script class="local library" src="/script/lib/jquery/jquery.js"></script>
        <script class="local library" src="/script/lib/jquery/jquery-ui.js"></script>
        <script class="local library" src="/script/lib/plupload/gears_init.js"></script>
        <script class="local library" src="/script/lib/plupload/plupload.full.min.js"></script>
        <script class="local library" src="/script/lib/sha1/sha1.js"></script>
        <script class="local" src="/script/yukki.js"></script>
        <link class="local" rel="stylesheet" type="text/css" href="/style/yukki.css"/>
        <link class="local library" rel="stylesheet" type="text/css" href="/style/lib/jquery/jquery.css"/>
    </head>
    <body>
        <div id="masthead">
            <h1 class="main-title">Yukki</h1>
            <div id="navigation">
                <ul>
                    <li class="navigation"><a href="/go/somewhere">Navigation Bar</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            <ul id="breadcrumb"> <li><a href="/go/somewhere">Bread</a> » </li></ul>
            <div id="messages">No messages.</div>
            <div id="content">Content</div>
            <div style="clear:both"></div>
        </div>
        <div id="footer">
            <div id="bottom-navigation">
                <ul>
                    <li class="navigation"><a href="/go/somewhere">Navigation Bar</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
