* { margin: 0; padding: 0; color: #333; font-family: Optima }
* body { background: #ddf; }
li { margin-left: 2em; }
p { margin: 1em 0; }
textarea { font-size: 1.1em; }

#masthead { padding: 2em 1em; background: #ddf; }
#masthead .main-title { color: #339; }
#navigation .navigation, #bottom-navigation .navigation { margin: 0; list-style: none; float: left }

#bottom-navigation { padding: 2em 1em; background: #ddf; }

#main { padding: 1em; background: #fff; }
#main h1, #main h2, #main h3 { margin: 0.5em 0; border-bottom: 1px solid #ccf; color: #225; }

/*** Page ***/

textarea#yukkitext { width: 100%; height: 20em; }
input#comment { width: 100%; }

.pane { width: 48% }
div#preview-yukkitext { border: 1px inset; padding: 5px; height: 30em; overflow: auto; float: right; }
