<table class="user-table">
    <thead>
        <tr>
            <th class="login_name">Login Name</th>
            <th class="name">Name</th>
            <th class="email">Email Address</th>
            <th class="groups">Groups</th>
            <th class="action"></th>
        </tr>
    </thead>
    <tbody class="user-list">
        <tr class="user" id="USER-ID">
            <td class="login_name">zostay</td>
            <td class="name">Sterling</td>
            <td class="email">hanenamp@cpan.org</td>
            <td class="groups"><ul><li class="group">wizard</li></ul></td>
            <td class="action"></td>
        </tr>
    </tbody>
</table>
